.wiki-moderation__diff {
  background: var(--secondary);
  border: 1px solid var(--primary-low);
  border-radius: 4px;
  font-family: monospace;
  margin-top: 0.75rem;
  overflow-x: auto;
  padding: 0.75rem;
  white-space: pre-wrap;

  del,
  ins {
    text-decoration: none;
  }

  del {
    background-color: var(--danger-low);
    color: var(--danger);
  }

  ins {
    background-color: var(--success-low);
    color: var(--success);
  }
}
